<%- include('header') -%>

<h2>Skrá leik</h2>

<%- include('skra') -%>

<h2>Seinustu leikir</h2>

<% if (errorMessage) { %>
    <div class="error"><%= errorMessage %></div>
<% } %>

    <%- include('gamesAdmin') -%>

<%- include('footer') -%>
