<div class="errors">
  <%  if (errors && errors.length > 0) { %>
    <h3>Villa við skráningu:</h3>
    <ul>
    <% errors.forEach(function(error){ %>
        <li class="error"><%= error.msg %></li>
      <%  }) %>
    </ul>
 <%  } %>
</div>
<form method="post" action="/insert-game">
  <div class = field>
    <label for="homeName">Heimalið:</label>
    <select id="homeName" name="homeName" value="<%= formData.homeName %>">
      <option value="">--Veldu heimalið--</option>
      <% teams.forEach(function(team) { %>
        <option value="<%= team.id %>"<%= formData.homeName == team.id ? 'selected' : '' %>><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div class = field>
    <label for="homeScore">Heimaliðs stig:</label>
    <input type="text" id="homeScore" name="homeScore" value="<%= formData.homeScore %>">
  </div>
  
  <div class = field>
    <label for="awayScore">Útiliðs stig:</label>
    <input type="text" id="awayScore" name="awayScore" value="<%= formData.awayScore %>">
  </div>
  <div class = field>
    <label for="awayName">Útilið:</label>
    <select id="awayName" name="awayName" value="<%= formData.homeName %>">
      <option value="">--Veldu útilið--</option>
      <% teams.forEach(function(team) { %>
        <option value="<%= team.id %>"<%= formData.awayName == team.id ? 'selected' : '' %>><%= team.name %></option>
      <% }); %>
    </select>
  </div>
  <div class = field>
    <label for="Dagsetning">Dagsetning:</label>
    <input type="datetime-local" id="Dagsetning" name="Dagsetning" value="<%= formData.Dagsetning %>">
  </div>
  <button>Bætta við leik</button>
</form>
